*{
    padding: 0;
    margin: 0;
    
}

.container{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.txtarea{
    width: 50rem;
    height: 10rem;
    font-size: 1.5rem;
    border: solid 2px black;
    border-radius: 10px;
    resize: none;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.counter{
    font-family: monospace;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    color: #555;
}